/*
Author: Zach Dehnert
Dev Process: Mobile to desktop
Date: 2020-03-23

Notes:
The goal of this site is to teach and train myself to build mobile first. I am using Mobile/Responsive
Web Design Tester, which allows me to test most but not all devices. It's probably the closest I will
get to being able to test multiple devices.

*/

/* --------------------------------------------------------------------------------------------------
-
-       Website Start
-
---------------------------------------------------------------------------------------------------*/

* {
    margin:0;
    padding:0;
}

body {
    background-color: #b20000;
 /*   background-image: url("../images/mobile/bg.jpg"); */
 /*   background-size:100%; */
 /* background-color: red; */
 /* background-image: url("paper.gif"); */
}

#header {
    width:100%;
    height:500px;
    background-image: url("../images/mobile/bg.jpg");
    background-size:100%;
    /* border:1px solid pink; */
}

    #header-nav {
        width:100%;
        height:20vw;
        background-color:#000;
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1;
    }

        #btn-1 {
            background-color: #000;
            float:left;
            width:25vw;
            height:20vw;
            position: relative;
        }

            #btn-1 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #three-lines-icon {
                width:100%;

            }

        /* #btn-1:hover {
            background-color: #fff;
            float:left;
            width:25vw;
            height:20vw;
            position: relative;
        } */

        #btn-2 {
            background-color: #000;
            float:left;
            width:40vw;
            height:20vw;
            position: relative;
        }

            #btn-2 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #title {
                width:100%;
                height:auto;
            }

        #btn-3 {
            background-color: #000;
            float:right;
            width:20vw;
            height:20vw;
            position: relative;
        }

            #btn-3 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #search-icon {
                width:75%;
            }

    #drop-down-container {
        width:100%;
        height:100vw;
        background-color: turquoise;
        clear:both;
        display:none;
    }

    #header-footer {
        width:100%;
        height:50px;
        background-color: #000;
        background-image: url("../images/mobile/red-horizontal-line.png");
        background-size:100%;
        background-repeat: no-repeat;
        margin:0;
        padding:0;
        z-index: 0;
    }

#divider {
    width:100%;
    height:50px;
    background-image: url("../images/mobile/red-horizontal-line.png");
    background-size:100%;
}

#main {
    width:100%;
    height:650px;
    /* background-image: url("../images/mobile/bg.jpg"); */
    background-color: yellow;
}

    #main-nav {
        width:100%;
        height:20vw;
        background-color:#000;

    }

        #btn-left {
            background-color: #000;
            float:left;
            width:25vw;
            height:20vw;
            position: relative;
        }

            #btn-left p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#b20000;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            #three-lines-icon {
                width:100%;

            }

        /* #btn-1:hover {
            background-color: #fff;
            float:left;
            width:25vw;
            height:20vw;
            position: relative;
        } */

        #chapter-heading {
            background-color: #000;
            float:left;
            width:40vw;
            height:20vw;
            position: relative;
        }

            #chapter-heading p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#b20000;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            #title {
                width:100%;
                height:auto;
            }

        #btn-right {
            background-color: #000;
            float:right;
            width:20vw;
            height:20vw;
            position: relative;
        }

            #btn-right p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#b20000;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            #search-icon {
                width:75%;
            }
    #header-footer {
        width:100%;
        height:50px;
        background-color: #000;
        background-image: url("../images/mobile/red-horizontal-line.png");
        position: absolute;
        bottom:0;
        left:0;
        background-size:100%;
        background-repeat: no-repeat;
        margin:0;
        padding:0;
        z-index: 0;
    }

#footer {
    width:100%;
    height:650px;
    /* background-image: url("../images/mobile/bg.jpg"); */
    background-color: purple;
}

/* --------------------------------------------------------------------------------------------------
-
-       Next Highest Resolution: Medium Phones
-
---------------------------------------------------------------------------------------------------*/

@media screen and (min-width:500px) {

    #header {
        width:100%;
        height:753px;
        background-image: url("../images/mobile/bg.jpg");
        background-size:100%;
        /* border:1px solid pink; */
    }

    #header-nav {
        width:100%;
        height:15vw;
        background-color:#000;

    }

    #btn-1 {
        background-color: #000;
        float:left;
        width:25vw;
        height:15vw;
        position: relative;
    }

        #btn-1 p {
            margin:0;
            background-color: transparent;
            position: absolute;
            top:50%;
            left:40%;
            margin-right:-50%;
            transform: translate(-50%, -50%);
            color:#fff;
        }
        
        #three-lines-icon {
            width:150%;
            background-color: #000;

        }

    #btn-2 {
        background-color: #000;
        float:left;
        width:40vw;
        height:15vw;
        position: relative;
    }

        #btn-2 p {
            margin:0;
            background-color: transparent;
            position: absolute;
            top:50%;
            left:50%;
            margin-right:-50%;
            transform: translate(-50%, -50%);
            color:#fff;
        }

        #title {
            width:70%;
            height:auto;
        }

    #btn-3 {
        background-color: #000;
        float:right;
        width:20vw;
        height:15vw;
        position: relative;
    }

        #btn-3 p {
            margin:0;
            background-color: transparent;
            position: absolute;
            top:50%;
            left:50%;
            margin-right:-50%;
            transform: translate(-50%, -50%);
            color:#fff;
        }

        #search-icon {
            width:70%;
        }
}

/* --------------------------------------------------------------------------------------------------
-
-       Next Highest Resolution: Large Phones
-
---------------------------------------------------------------------------------------------------*/

@media screen and (min-width:550px) {

    #header {
        width:100%;
        height:953px;
        background-image: url("../images/mobile/bg.jpg");
        background-size:100%;
        /* border:1px solid pink; */
    }

}

/* --------------------------------------------------------------------------------------------------
-
-       Next Highest Resolution: Phablets
-
---------------------------------------------------------------------------------------------------*/

@media screen and (min-width:750px) {

    #header-nav {
        width:100%;
        height:15vw;
        background-color:#000;

    }

        #btn-1 {
            background-color: #000;
            float:left;
            width:25vw;
            height:15vw;
            position: relative;
        }

            #btn-1 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #three-lines-icon {
                width:150%;

            }

            /* #btn-1:hover {
                background-color: #fff;
                float:left;
                width:25vw;
                height:20vw;
                position: relative;
            } */



        #btn-2 {
            background-color: #000;
            float:left;
            width:40vw;
            height:15vw;
            position: relative;
        }

            #btn-2 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #title {
                width:70%;
                height:auto;
            }

        #btn-3 {
            background-color: #000;
            float:right;
            width:20vw;
            height:15vw;
            position: relative;
        }
    
            #btn-3 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }
    
            #search-icon {
                width:75%;
            }

}

/* --------------------------------------------------------------------------------------------------
-
-       Next Highest Resolution: Tablets
-
---------------------------------------------------------------------------------------------------*/

@media screen and (min-width:850px) {

#header {
    width:100%;
    height:1080px;
    background-image: url("../images/desktop/bg.jpg");
    background-size:100%;
    /* border:1px solid pink; */
}

    #header-nav {
        width:100%;
        height:4vw;
        background-color:#000;

    }

        #btn-1 {
            background-color: #000;
            float:left;
            width:8vw;
            height:4vw;
            position: relative;
        }

            #btn-1 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #three-lines-icon {
                width:150%;

            }

            /* #btn-1:hover {
                background-color: #fff;
                float:left;
                width:25vw;
                height:20vw;
                position: relative;
            } */



        #btn-2 {
            background-color: #000;
            float:left;
            width:40vw;
            height:4vw;
            position: relative;
        }

            #btn-2 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }

            #title {
                width:20%;
                height:auto;
            }

        #btn-3 {
            background-color: #000;
            float:right;
            width:20vw;
            height:4vw;
            position: relative;
        }
    
            #btn-3 p {
                margin:0;
                background-color: transparent;
                position: absolute;
                top:50%;
                left:50%;
                margin-right:-50%;
                transform: translate(-50%, -50%);
                color:#fff;
            }
    
            #search-icon {
                width:75%;
            }

}

/* --------------------------------------------------------------------------------------------------
-
-       Next Highest Resolution: Desktop I
-
---------------------------------------------------------------------------------------------------*/

@media screen and (min-width:1200px) {

    #header {
        width:100%;
        height:1080px;
        background-image: url("../images/desktop/bg.jpg");
        background-repeat: no-repeat;
        background-size:100%;
        /* border:1px solid pink; */
    }
    
        #header-nav {
            width:100%;
            height:4vw;
            background-color:#000;
    
        }
    
            #btn-1 {
                background-color: #000;
                float:left;
                width:8vw;
                height:4vw;
                position: relative;
            }
    
                #btn-1 p {
                    margin:0;
                    background-color: transparent;
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin-right:-50%;
                    transform: translate(-50%, -50%);
                    color:#fff;
                }
    
                #three-lines-icon {
                    width:70%;
    
                }
    
                /* #btn-1:hover {
                    background-color: #fff;
                    float:left;
                    width:25vw;
                    height:20vw;
                    position: relative;
                } */
    
    
    
            #btn-2 {
                background-color: #000;
                float:left;
                width:40vw;
                height:4vw;
                position: relative;
            }
    
                #btn-2 p {
                    margin:0;
                    background-color: transparent;
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin-right:-50%;
                    transform: translate(-50%, -50%);
                    color:#fff;
                }
    
                #title {
                    width:20%;
                    height:auto;
                }
    
            #btn-3 {
                background-color: #000;
                float:right;
                width:20vw;
                height:4vw;
                position: relative;
            }
        
                #btn-3 p {
                    margin:0;
                    background-color: transparent;
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin-right:-50%;
                    transform: translate(-50%, -50%);
                    color:#fff;
                }
        
                #search-icon {
                    width:75%;
                }
    
    }